body{
    background-color: beige;
    width: 90%;
    margin: auto;
}
h1{
    color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
img{
    width: 240px;
    height: 240px;
    border-radius: 89%;
    border: rgb(83, 204, 218) 6px solid;
    display: block;
    margin: 0 auto;
}
h3{
    color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
p{
    color: rgb(97, 135, 31);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
}
table{
    background-color: chocolate;
    color: cyan;
    border: darkgoldenrod 4px solid;
    display: table;
    margin: auto;
}

th{
    border: skyblue solid;
    background-color: slategrey;
}
td{
    color: rgb(3, 73, 3);
    border: honeydew solid;
}
.pe{
    background-color: rgb(253, 253, 135);
}
.tu{
    background-color: rgb(162, 255, 116);
}
.gy{
    background-color: rgb(202, 153, 93);
}
h3{
    color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
p{
    color: rgb(97, 135, 31);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
}
h4{
    color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
ul{
    background-color: blanchedalmond;
}
.ji{
    background-color: #ddd;
    margin: auto;
    width: 70%;
    padding: 10px;
    color: darkolivegreen;
    font-size: 19px;
}
ol{
    background-color: rgb(191, 125, 125);
}
.ro{
   background-color: #bbb;
   margin: auto;
   width: 70%;
   padding: 10px;
   color: rgb(4, 80, 4);
   font-size: 19px;
}
form{
    background-color: rgb(146, 226, 181);
    width: 45%;
    border: 3px solid rgb(76, 152, 211);
    margin: 20px;
    padding: 18px;
}
label{
    font-size: 16px;
    display: block;
    color: rgb(15, 79, 119);
}
input{
    margin-bottom: 22px;
    width: 100%;
}
textarea{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
button{
    width: 100%;
    border: 2px solid rgb(123, 92, 45);
}
input:focus{
    border: 3px solid rgb(52, 202, 89);
}

